<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Image</title>
</head>
<body>
    <h1>Изменить изображение</h1>
    <h2 th:text="${product.getName()}"/>
    <form enctype="multipart/form-data" th:action="@{/admin/product/edit_product/{id}/image (id = ${product.getId()})}" method="post">
        <div>
            <label>Изображение товара</label>
            <input type="file" name="image">
            <span style="color: red" th:text="${fileErr}"></span>
        </div>
        <div><input type="submit" value="Save"/></div>
    </form>
    <form th:method="get" th:action="@{/admin}">
        <button type="submit">Отменить</button>
    </form>
</body>
</html>