<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Админка</title>
</head>
<body>
    <a href="/">Главная</a>
    <div th:each="product: ${list}" style="border: 2px dashed; padding: 10px;">
        <h3 th:text="${product.getName()}"></h3>
        <br>
        <span th:text="${product.getCategory()}"></span>
        <br>
        <img th:src="@{'/images/'+${product.getImageName()}}" height="400px">
        <br>
        <span th:text="${product.getDescription()}"></span>
        <br>
        Количество:
        <span th:text="${product.getCount()}"></span>
        <form th:method="get" th:action="@{/admin/edit_product/{id} (id = ${product.getId()})}">
            <button type="submit">Редактировать</button>
        </form>
        <form th:method="post" th:action="@{/admin/product/{id} (id = ${product.getId()})}">
            <button type="submit">Удалить</button>
        </form>
    </div>
    <a href="/admin/add_product">Добавить продукт</a>
</body>
</html>