<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit product</title>
</head>
<body>
    <a href="/">Главная</a>
    <h1>Edit product</h1>
    <form th:action="@{/admin/products/edit_product/{id} (id = ${product.getId()})}" method="post" th:object="${product}">
        <div>
            <label> Product Name : <input type="text" th:field="*{name}"/> </label>
            <span style="color: red" th:text="${nameErr}"></span>
        </div>
        <div>
            <label> Description: <input type="text" th:field="*{description}"/> </label>
            <span style="color: red" th:text="${descriptionErr}"></span>
        </div>
        <div>
            <label> Count <input type="number" th:field="*{count}" min="0"/> </label>
        </div>
        <div>
            <label> Price <input type="number" th:field="*{price}" min="0"/>₽ </label>
        </div>
        <div>
            Active
            <input type="checkbox" th:field="*{active}"/>
        </div>
        <select th:field="*{category}">
            <option value=""> -- </option>
            <option th:each="categoryEnum : ${categories}" th:value="${categoryEnum}" th:text="${categoryEnum}"></option>
        </select>
        <span style="color: red" th:text="${categoryErr}"></span>
        <div><input type="submit" value="Save"/></div>
    </form>
    <form th:method="get" th:action="@{/admin/products/edit_product/{id}/image (id = ${product.getId()})}">
        <button type="submit">Изменить изоображение</button>
    </form>
    <form th:method="get" th:action="@{/admin/products}">
        <button type="submit">Отменить</button>
    </form>
</body>
</html>