<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
</head>
<body>
    <a href="/">Главная</a>
    <br>
    <div th:each = "user, iteration: ${list}" style="border: 2px dashed; padding: 10px;">
        <span th:text="${user.getId()}"></span>

        <span th:text="${user.getUsername()}"></span>
        <br>
        <div th:if="${currentID == user.getId()}">
            <span th:text="${user.getRoles()}"></span>
        </div>
        <div th:if="${currentID != user.getId()}">
            <form th:method="post" th:action="@{/admin/users/change_role/{id} (id = ${user.getId()})}" th:object="${changeRole}">
                <div>
                    <select id="role" name="role">
                        <option th:each="rolesEnum : ${roles}" th:value="${rolesEnum}" th:text="${rolesEnum}"
                                th:selected="${user.getRoles()[0] == rolesEnum}"></option>
                    </select>
                </div>
                <div><input type="submit" value="Сменить роль"/></div>
            </form>
        </div>
        <br>
    </div>
</body>
</html>