<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
</head>
<body>
    <a href="/">Главная</a>
    <h1>Корзина</h1>
    <div th:each = "entry: ${list}" style="border: 2px dashed; padding: 10px;">
        <h3 th:text="${entry.getProduct().getName()}"></h3>
        <br>
        <span th:text="${entry.getProduct().getCategory()}"></span>
        <br>
        <img th:src="@{'/images/'+${entry.getProduct().getImageName()}}" height="400px">
        <br>
        <span th:text="${entry.getProduct().getDescription()}"></span>
        <br>
        <br>
        <div th:if="${entry.getProduct().getCount()}>0">
            На складе:
            <span th:text="${entry.getProduct().getCount()}"></span>
            <br>
            Количество:
            <span th:text="${entry.getCount()}"></span>
            <h4>Изменить количество товара</h4>
            <form th:method="get" th:action="@{/cart/edit_count/{id} (id = ${entry.getProduct().getId()})}">
                <input type="number" th:name="count" th:value="${entry.getCount()}" min="0" th:max="${entry.getProduct().getCount()}"/>
                <div><input type="submit" value="Сохранить"/></div>
            </form>
        </div>
        <div th:if="${entry.getProduct().getCount()}==0">
            <span style="color: red">К сожалению, товар закончился</span>
        </div>
        <br>
    </div>
    <a href="/cart/order">Заказать</a>
</body>
</html>