<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование профиля</title>
</head>
<body>
    <form th:action="@{/edit_account}" method="post" th:object="${user}">
        <div><label> Name : <input type="text" th:field="*{name}"/> </label></div>
        <div><label> Address: <input type="text" th:field="*{address}"/> </label></div>
        <div><label> Email: <input type="email" th:field="*{email}"/> </label></div>
        <div><label> Phone: <input type="tel" th:field="*{phone}"/> </label></div>
        <div><input type="submit" value="Сохранить"/></div>
    </form>
    <a href="/">Отмена</a>
</body>
</html>