<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Мясная лавка</title>
</head>
<body>
    <h1>Мясная лавка</h1>
    <br>
    <a href="/cart">Корзина <span th:text="${cartSize}"></span></a>
    <br>
    <a href="/order/list">Мои заказы</a>
    <br>
    <div th:if="!${authorized}">
        <p>Click <a th:href="@{/login}">here</a> to log in</p>
    </div>
    <div th:if="${authorized}">
        <form th:method="get" th:action="@{/edit_account}">
            <button type="submit">Редактировать профиль</button>
        </form>
        <br>
        <form th:method="post" th:action="@{/logout}">
            <button type="submit">Выйти</button>
        </form>
    </div>
    <div th:if="${admin}">
        <a href="/admin"> Админка </a>
    </div>
    <br><br>
    <div>
        Фильтр
        <form th:method="post" th:action="@{/filter}" th:object="${categories}">
            <div th:each="category, iteration: *{list}">
                <label th:text="${category.getName()}"></label>
                <input type="checkbox" th:field="*{list[__${iteration.index}__].checked}"/>
            </div>
            <button type="submit">Отфильтровать</button>
        </form>
    </div>
    <div th:each="product: ${list}" style="border: 2px dashed; padding: 10px;">
        <h3 th:text="${product.getName()}"></h3>
        <br>
        <span th:text="${product.getCategory()}"></span>
        <br>
        <img th:src="@{'/images/'+${product.getImageName()}}" height="400px">
        <br>
        <span th:text="${product.getDescription()}"></span>
        <br>
        Цена
        <span th:text="${product.getPrice()}"></span>₽
        <br>
        <div th:if="${product.getCount()} > 0">
            <span>Есть в наличии</span><br>
            <form th:method="post" th:action="@{/add_to_cart/{id} (id = ${product.getId()})}">
                <button type="submit">Добавить в корзину</button>
            </form>
        </div>
        <div th:if="${product.getCount()} == 0">
            <span>Нет в наличии</span><br>
        </div>
    </div>
</body>


</html>