<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Заказы</title>
</head>
<body>
    <a href="/">Главная</a>
    <br>
    <div th:each = "order: ${list}" style="border: 2px dashed; padding: 10px;">
        ID:
        <span th:text="${order.getId()}"></span>
        <br>
        Имя покупателя:
        <span th:text="${order.getName()}"></span>
        <br>
        Адрес:
        <span th:text="${order.getAddress()}"></span>
        <br>
        Email:
        <span th:text="${order.getEmail()}"></span>
        <br>
        Phone:
        <span th:text="${order.getPhone()}"></span>
        <br>
        Total price:
        <span th:text="${order.getTotalPrice()}"></span>
        <br>
        <div th:if="${order.getUser()} != null" style="border: 1px solid; padding: 5px;">
            User
            <br>
            <span th:text="${order.getUser().getId()}" style="background-color: yellow;"></span>

            <span th:text="${order.getUser().getUsername()}"></span>
        </div>
        <br>
        Заказанные товары:
        <div th:each = "product: ${order.getProducts()}" style="border: 1px solid; padding: 5px;">
            ID:
            <span th:text="${product.getProduct().getId()}"></span>
            <br>
            Название товара:
            <span th:text="${product.getProduct().getName()}"></span>
            <br>
            Количество:
            <span th:text="${product.getCount()}"></span>
        </div>
        <br>
        Статус заказа:
        <span th:text="${order.getStatus()}"></span>
        <form th:method="get" th:action="@{/admin/orders/changeStatus/{id} (id = ${order.getId()})}">
            <div><input type="submit" value="Изменить статус"/></div>
        </form>
    </div>
</body>
</html>